{# [module]/templates/my-template.html.twig #}


<h1> {{ titulo }} </h1>
<h2> {{ descripcion }} </h2>
<p> La variable a mostrar es: {{my_variable}} </p>
<h2> Formulario enviado </h2>
<p> {{form}} </p>


